<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Usuarios</h3>
            <div class = "card-body">
                <table class="table table-hover">
                    <thead>
                        <tr class="text-center">
                            <th>Id</th>
                            <th>Numero de Cedula</th>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Telofono</th>
                            <th>Correo Electronico</th>
                            <th>Observaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <button class="btm btn-warning">Editar</button>
                                <button class="btm btn-danger" style="margin-left: 10px;">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>